body {
	padding: 0;
	margin: 0;
}

#images-box {
	/* The total width of the image-box, mainly for centering */
	width: 100%;
    height: 600px;
	margin: 0px auto;
	position: relative;
	bottom: 0px;
    text-align: center;
}

.image-lightbox img {
	/* Inherit the width and height from the parent element */
	width: inherit;
	height: inherit;
}

.holder {
	/* The width and height, you can change these */
	width: 250px;
}

.image-lightbox {
	/* Inherit width and height from the .holder */
	width: inherit;
	height: inherit;
	/* Position absolutely so we can zoom it out later */
	position: relative;
	top: 0;
}

.image-lightbox span {
	display: none;
}

.image-lightbox .expand {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0); /* Fixes an IE bug */
	left: 0;
}

div[id^=image]:target {
	width: 800px;
	height: 600px;
    position: absolute;
    left: 250px;
}

div[id^=image]:target .expand {
	display: block;
}

.ingene {
    height: 600px;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
}

.ingene::-webkit-scrollbar {
    width: 0;
}
